:root {
  --logo-color-1: #4d5ae5;
  --logo-color-2: #2e2f42;
  --link-color: #2e2f42;
  --address-color: #434455;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Releway", sans-serif;
  color: var(--logo-color-1);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo2 {
  color: var(--logo-color-2);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address_item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
}

.address_item:hover,
.address_item:focus {
  color: #404bbf;
}
